@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
	background-color: #eeeeee;
}

h1, h2, h3 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: "Noto Sans", serif;
	color: #1f1815;
	margin: 0;
}

p{
	margin: 1em 0;
	font-family: "Noto Sans", serif;
	font-size: 0.9em;
}

.list-unstyled{
	margin: 1em 0;
}


.upper{
	text-transform: uppercase;
}

#navbar{
	background-color: #eee;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 0.5px solid #1f1815;
	z-index: 1000;
	}
   
   #navbar > ul{
	 height: 2em;
	 list-style-type: none;
	 font-size: 1.2em;
	 font-family: "Playfair Display", serif;
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 margin: 0.5em 1.2em;
	 }
   
   #navbar > ul > li{
	 padding: 0rem 1.2rem;
	 display: block;
	 }
   
   #navbar a{
	 text-decoration: none;
	
	 color: rgba(20,20,20,100%);
   }
   
   #navbar a:hover{
	 color: rgba(50,50,50,70%);
	 border-radius: 7px;
	 background-color: rgba(10,10,10,10%);
   }

   .container{
	padding-top: 2em;
   }


        .full-width-section {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

		.text-left {
            text-align: left;
        }

		.mb-4 {
			margin-bottom: 2rem;
        
		}

        .mb-5 {
            margin-bottom: 3rem;
        }

		.mb-6 {
            margin-bottom: 4rem;
        }

		.m5-4 {
			margin-bottom: 2rem;
        
		}


        .mt-5 {
            margin-top: 3rem;
        }

        .section-title {
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .process-step {
            text-align: left;
            margin-bottom: 1.5rem;
        }

        .process-step h4 {
            margin-top: 1rem;
        }

        .image {
            max-width: 100%;
            margin-bottom: 3rem;
        }


		.image.center{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

		.img-fluid.icon{
			max-height:  2em;
		}

		.img-fluid.icon2x{
			height:  2.4em;
		}

		

		.badge{
			background-color: #3ACDD7;
			font-size: 1em;
			font-family: "Noto Sans", serif;
		}

		.flag{
			width: 100%;
			padding: 0.4em 1em;
			background-color:rgb(20, 121, 255);
			text-align: center;
			color: #fff;
			font-weight: 700;
		}

		#line{
			margin: 4em 0 2em 0;
			border-bottom: solid 0.5px #2e2e2e;
		}

		footer {
			border-top: 1px solid #ddd;
			padding-top: 20px;
		}
		
		footer .btn {
			padding: 10px 20px;
			font-size: 1rem;
		}
		
		footer .btn-primary {
			background-color: #ffffff;
			border-color: #494949;
			color: #1f1815;
		}
		
		footer .btn-secondary {
			background-color: #ffffff;
			border-color: #494949;
			color: #1f1815;
		}
