@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1, h2, h3 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 1.5em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: "Noto Sans", serif;
	color: #1f1815
}

p{
	margin: 1em 0;
	font-family: "Noto Sans", serif;
	font-size: 0.9em;
}


        .full-width-section {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

		.text-left {
            text-align: left;
        }

        .mb-5 {
            margin-bottom: 3rem;
        }

        .mt-5 {
            margin-top: 3rem;
        }

        .section-title {
            margin-bottom: 2rem;
            font-weight: bold;
        }

        .process-step {
            text-align: left;
            margin-bottom: 1.5rem;
        }

        .process-step h4 {
            margin-top: 1rem;
        }

        .image {
            max-width: 100%;
            margin-bottom: 3rem;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

		.img-fluid.icon{
			max-height:  2em;
		}

		.badge{
			background-color: #3ACDD7;
			font-size: 1em;
			font-family: "Noto Sans", serif;
		}

		#line{
			margin: 4em 0 2em 0;
			border-bottom: solid 0.5px #2e2e2e;
		}

		footer {
			border-top: 1px solid #ddd;
			padding-top: 20px;
		}
		
		footer .btn {
			padding: 10px 20px;
			font-size: 1rem;
		}
		
		footer .btn-primary {
			background-color: #ffffff;
			border-color: #494949;
			color: #1f1815;
		}
		
		footer .btn-secondary {
			background-color: #ffffff;
			border-color: #494949;
			color: #1f1815;
		}